@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 50% 18%;
    --foreground: 270 100% 97%;
    --primary: 260 70% 40%;
    --primary-foreground: 270 100% 97%;
    --secondary: 260 75% 65%;
    --secondary-foreground: 270 100% 98%;
    --muted: 260 45% 25%;
    --muted-foreground: 260 25% 65%;
    --accent: 260 70% 50%;
    --accent-foreground: 270 100% 97%;
    --border: 260 45% 45%;
    --ring: 260 75% 60%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 270 100% 97%;
    --radius: 0.5rem;
  }
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}
